
.imgcont_block{display: flex;flex-wrap: wrap;align-items: center;}
.img_left{width: 45%;}
.cont_right{width: 55%;padding-left: 64px;}


/*----- MEDIA QUERIES  -----*/
@media(max-width:1650px){  
}
@media(max-width:1550px){    
}
@media(max-width:1439px){
  .imgcont_block{align-items: flex-start;}
  .cont_right{padding-left: 50px;}
  .img_left{position: sticky;top: 0;align-self: flex-start;}
}
@media(max-width:1199px){ 
  .cont_right {padding-left: 36px;}
}
@media(max-width:991px){ 
  .img_left{position: inherit;top:auto;align-self: auto;width: 100%;margin: 0 0 40px;}
  .cont_right {width: 100%;padding: 0;}
}
@media(max-width:767px){ 
}
@media(max-width:575px){  
}

