.servd_wrap{display: flex;flex-wrap: wrap;}
.servd_left{width: 50%;padding-right: 90px;}
.servd_right{width: 50%;position: sticky;top: 0;align-self: flex-start;}

.servd_formbox{margin: -68px 47px 0;z-index: 0;position: relative;}
.servd_formbox .formbox{padding: 60px 60px 62px;}
.servd_formbox .formhead{font-size: 32px;margin-bottom: 45px;letter-spacing: 1px;}
.servd_formbox .formhead:before, .servd_formbox .formhead:after{top: 16px;}

/*----- MEDIA QUERIES  -----*/
@media(max-width:1650px){  
}
@media(max-width:1550px){    
}
@media(max-width:1439px){
  .servd_left{padding-right: 40px;}
  .servd_formbox {margin: 0;}  
}
@media(max-width:1199px){   
  .servd_formbox .formbox {padding: 46px 35px 62px;}
  .servd_formbox .formhead{font-size: 28px;margin-bottom: 35px;}
}
@media(max-width:991px){   
  .servd_left {width: 100%;padding: 0;}
  .servd_right {width: 100%;position: relative;top: auto;align-self: auto;}
}
@media(max-width:767px){ 
  .servd_formbox .formhead {font-size: 24px;}
  .servd_formbox .formhead:before, .servd_formbox .formhead:after {top: 12px;}
}
@media(max-width:575px){  
  .servd_formbox .width50{width: 100%;}
  .servd_formbox .formbox {padding: 36px 20px 40px;}
  .servd_formbox .formhead {font-size: 22px;margin-bottom: 26px;}
}

